h2{
    background-color: rgb(241, 172, 238);
    text-align: center;
    margin: 1.5rem 0;
    font-weight: unset;
    margin-top: 3rem;
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
}
.contenedor-carrito h2{
    margin: 0;
    padding: 0;
    font-size: 3rem;
    background-color: initial;
    border-bottom: 2px solid rgba(194, 47, 182, 0.281);
}
#main-app{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    text-align: center;
}
.img-productos{
    max-width: 100%;
    max-height: 300px;
    border-radius: 30px;
}
.productos{
    padding: 1rem;
}
.productos-producto{
    font-size: 1.4rem;
}
.productos-producto div{
    background-color: rgba(255, 255, 255, 0.616);
    padding: 0.7rem;
}
.productos-producto div button{
    color: white;
    border: 0;
    padding: 0.5rem 0.5rem;
    border-radius: 15px;
    background-color: rgb(206, 96, 226);
}
.productos-producto div button:hover{
    color: rgb(71, 5, 80);
    background-color: rgb(70, 182, 173);
}
/*swal*/
.swal-icon--success__line {
    height: 5px;
    background-color: #d286dc;
}
    .swal-icon--success__ring {
        border: 4px solid #d286dc;
    }

#modal{
    width: 100%;
    z-index: 1;
    position: absolute;
    top:0;
    left:0;
    animation: modal 3s;
    transition: 2s;
    animation-fill-mode: forwards;
    display: none;
    margin-top: 5rem;
}
#contenedor{
    transition: 2s;
    background-color: rgb(255, 255, 255);
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%2395d9ca' fill-opacity='0.52' fill-rule='evenodd'/%3E%3C/svg%3E");    height: 100%;
    max-width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    position: relative;
    padding: 2rem 3rem 7rem 3rem;
    margin-top: 4rem;
}
.contenedor-carrito{
    text-align: center;
   
}
.contenedor-carrito-productos{
    transition:1s;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#contenedor #btncerrar{
    background-color:rgb(222, 153, 233);
    border: none;
    font-size: 1.5rem;
    border-radius: 100%;
    margin-left: 100%;
}
.sinProductos{
    display: none;
    border-radius: 15px;
    background-color: #54b8b3;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    display: flex;
}
.precio{
    background-color: #54b8b3;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    position: absolute;
    bottom:15px;
    right: 0;
    left: 0;
    display:flex;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.eliminar-producto{
   background-color: rgba(255, 0, 0, 0.561);
   width: 100%;
   padding: 0.5rem;
   border: none;
   color: white;
}
.contenedor-carrito-productos{
    text-align: center;
}

select{
    background-color: #d06fdd;
    font-size: 1.3rem;
    border-radius: 20px;
    color: white;
}